---
---

$primary: #cc0000;
$size: 20px;

html *{
	padding:0;
	margin:0;
}
html{
// 	background: -webkit-linear-gradient(left, #ebebeb 52%, #c0d5e5 52%);
// 	background: -o-linear-gradient(left, #ebebeb 52%, #c0d5e5 52%);
// 	background: linear-gradient(to right, #ebebeb 52%, #c0d5e5 52%) ; /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
body{
	
	background-image: url('map-background2.jpg');
	// background-position: 105px -48px;
	background-position: -665px -404px, center;
	background-repeat:no-repeat; /* FF3.6-15 */
	// background-size:cover;
}

@mixin transitions(){
  transition: all 0.7s ease 0.0s;
    -moz-transition: all 0.7s ease 0.0s;
    -webkit-transition: all 0.7s ease 0.0s;
    -o-transition: all 0.7s ease 0.0s;
    -ms-transition: all 0.7s ease 0.0s;
}

span{
	color:$primary;
	font-size: $size + 40;
}

.district{
	@include transitions();

	&:hover{
		fill:#000;
	}
	&.faded{
		opacity:.5
	}

}
circle,
path {
  cursor: pointer;
  pointer-events:all;
}

path.donutHole{
  opacity: 1
}
path.donutHole:hover{
  opacity: 1
}
svg, g{
  pointer-events:none;
}


.district{
 
}
#district1{
  fill:red;
}