---
---

$primary: #cc0000;
$size: 20px;

html *{
	padding:0;
	margin:0;

}
h1, h2, h3, h4, h5, h6{
	font-family:"Helvetica";
	font-weight:300;

}
html{
// 	background: -webkit-linear-gradient(left, #ebebeb 52%, #c0d5e5 52%);
// 	background: -o-linear-gradient(left, #ebebeb 52%, #c0d5e5 52%);
// 	background: linear-gradient(to right, #ebebeb 52%, #c0d5e5 52%) ; /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
body{
	
	background-image: url('map-background2.jpg');
	// background-position: 105px -48px;
	background-position: -665px -404px, center;
	background-repeat:no-repeat; /* FF3.6-15 */
	// background-size:cover;
}

@mixin transitions(){
  transition: all 0.7s ease 0.0s;
    -moz-transition: all 0.7s ease 0.0s;
    -webkit-transition: all 0.7s ease 0.0s;
    -o-transition: all 0.7s ease 0.0s;
    -ms-transition: all 0.7s ease 0.0s;
}

span{
	color:$primary;
	font-size: $size + 40;
}
#back{
	position:absolute;
	cursor:pointer;
	top:30px;
	left:50px;
	opacity:0;
}

#overlay{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	opacity:0;
	background:rgba(255, 255, 255, .8);
}

.district{
	@include transitions();
	position:absolute;
	z-index:69;
 	&.circled{
 		z-index:-1;
 	}

	&:hover{
		fill:#000;
	}
	&.faded{
		opacity:.5
	}

}
circle,
path {
  cursor: pointer;
  pointer-events:all;
}

path.donutHole{
  opacity: 1
}
path.donutHole:hover{
  opacity: 1
}
svg, g{
  pointer-events:none;
}

#district1{
  fill:red;
}
//
// D3 SLIDER
//
#slider{
	width:70%;
	margin:0 auto;	
}
.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    height:10px;
    border-bottom: 1px solid #000;
    z-index: 2;
}

.d3-slider-horizontal {
    height: 10px;
}  

.d3-slider-range {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}      


.d3-slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    top:10px;
    border-radius: 50%;
    background: #FAD44B;
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: 0px;
    margin-left: -10px;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;    
}

.d3-slider-axis-bottom {
    // top: -.5em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}






